<mat-form-field appearance="fill">
  <mat-label>Select topic</mat-label>
  <mat-select>
    <mat-option *ngFor="let topic of topics" [value]="topic">
      {{topic.topic}}
    </mat-option>
  </mat-select>
</mat-form-field>
<form>
  <input type="file" name="safdaff">
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Ex. Lorem ipsum dolor" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Write short description</mat-label>
    <textarea matInput placeholder="Ex. A consequuntur deleniti"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Write full description</mat-label>
    <textarea matInput placeholder="Ex. Lorem ipsum dolor"></textarea>
  </mat-form-field>
</form>
<div class="example-button-row">
  <button mat-raised-button color="primary">Save Article</button>
</div>
